/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* *{
    outline: 1px solid blue;
} */

body {
	line-height: 1.5;
    	font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
img {
	max-width: 100%;
    	display: block;
}
.Container{
    max-width: 1295px;
    margin: 0 auto;
}
.Content{
    margin: 0 auto;
    width: 75.35%;
    padding: 120px 0px;
}
.Content-ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Contnet-ul-li{
/*     width: 49.1%; */
    margin-bottom: 80px;
}
.Contnet-ul-li > img{
    border-radius: 8px;
    border:1px solid #F1F1F1;	
}
.Contnet-ul-li>h2{
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0px 8px 16px;
    line-height: 2.1;
}
.Contnet-ul-li>p{
    font-size: 16px;
    padding: 0px 0px 0px 16px;
    color: #919191;
}
.Content-tag{
    display: flex;
    flex-direction: row;
    margin:24px 0px 0px 16px;
}
.Content-tag > li{
    text-align: center;
    margin-right: 16px;
}
.Content-tag >li > a{
    display: block;
    background-color: #F1F1F1;
    border-radius: 16px;
    font-size: 16px;
    padding: 4px 12px;
    }
